body
{
  font-family: 'Montserrat';
  text-align: center;
}
p
{
  color: #8f8f8f;
}
h1,h2,h3,h4,h5,h6
{
  font-family: 'Montserrat';
  font-weight: bold;
}
/* Headings */

.big-heading
{
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}
.section-heading
{
  font-size:3.2rem;
  line-height: 1.5;
}

/* Sections */

.coloured-section
{
  background-color:#ff4c68;
  color: #fff;
}
.white-section
{
    background-color: #fff;
}
/* Navigation Bar */


.navbar-brand
{
  font-family: Ubuntu;
  font-size:2.5rem;
  font-weight: bold;
}
.navbar
{
  padding:0 0 4.5rem;
}
.nav-item
{
  padding: 0  10px;
}
.nav-link
{
  font-size: 1.5rem;
  font-family:'Montserrat';
  fonr-weight: light;
}

.navbar-nav
{
  margin-left: 50px;
}
/* Download Buttons */
.download-button
{
  margin: 5% 3% 5% 0;
}

/* Title-Section */

#title
{
  text-align:left;
}

#title .container-fluid
{
  padding:3% 15% 7%;
}

/* Title image */

.title-image
{
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right:20%;
}
/* Features */

#features
{
  padding: 7% 7%;
  position: relative;
  z-index: 1;
}
.feature-box
{
  padding : 4%;
}


.icon
{
  color: #ef8172;
  margin-bottom: 2rem;
}
.icon:hover
{
  color: #ff4c68;
}
.feature-title
{
   font-weight: bold;
}

/* Testimonial section */
#testimonials
{
  background-color: #ef8172;
  color: #fff;
}
.carousel-item
{
padding: 9% 15%;
}
.carousel-inner
{
  background-color: #ff4c68;
}
.testimonial-text
{
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-img
{
  width: 10%;
  border-radius: 100%;
  margin: 30px;
}
#press
{
   background-color: #ef8172;
   padding: 5% 0;
}
.press-logo
{
  width: 15%;
  margin:0 20px 15px;
}

/* Pricing */
.sign-up-button
{
  width: 100%;
}
#pricing
{
  padding: 100px;
  text-align:center;
}
.pricing-column
{
  padding:3% 2%;
}
.price-text
{
  font-size: 3rem;
  line-height: 1.5;
}

@media (max-width:1107px)
{
  #title
  {
    text-align: center;
  }
  .title-image
  {
    width:45%;
    position:static;
    transform: rotate(0);
  }
}
.plan-name
{
   font-weight: bold;
}
  /* Call to Action */
  #cta
  {
    height:500px;
    padding: 150px;
    color:#fff;
  }

  /* Footer */


  #footer
  {
    padding:100px 100px 60px 100px;
  }
  .footer-icons
  {
    width: 50%;
    margin:20px 10px;
  }
